<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h3>Choose a category, get a Chuck Norris joke, laugh.</h3>
    <form action="/" method="GET">
      <label>Categories:</label><br>
      <% categories.forEach(c => { %>
        <div>
          <input type="radio" name="category" value="<%= c %>" id="<%= c %>"/>
          <label for="<%= c %>" ><%= c %></label>
        </div>
        <% }); %>
      <button type="submit">Get Chuck Norris Joke</button>
    </form>
    <% if (joke) { %>
      <h3><%= joke %></h3>
    <% } else { %>
      <h3>I'm so empty inside. Get me a joke, fill me with laughter!</h3>
    <% } %>
  </body>
</html>
